@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

body {
  background-color: #defcf2;
}

.App {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
}

span {
  padding: 5px;
  font-size: 30px;
  cursor: pointer;
}

h3 {
  margin: 5rem 0rem;
}

p {
  text-align: justify;
  width: 50%;
  margin: auto;
}
